
/* html,body,h1,h2,h3,h4,h5,h6 {font-family:  Arial, Helvetica, sans-serif;} */

html,body{font-family:Verdana,sans-serif; line-height:1.5}
html{overflow-x:hidden}
/* h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px} */
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

:root {--ref-color: rgb(255, 123, 0);}


/* Bottom of page space */
html{padding-bottom: 30px; /* margin-bottom: 30px; */}

/* Word wrap all */
body{word-wrap: break-word; margin-bottom: 200px;}

/*Nav Bar*/
.hg-NavBar{background: white; position:fixed; width:100%; z-index:1;min-height: 42px;}
/* .hg-NavBarTitle{float:left; font-size:  20px; color:teal ; background-color:white; margin-top: 6px; margin-bottom: 0px; margin-left: 12px;} */
.hg-NavBarTitle{margin-left:270px; font-size:  20px; color:teal ; background-color:white; margin-top: 6px; margin-bottom: 0px; transition:margin-left .4s;}


/* .hg-NavBarTitleSpan{color:white; background-color:black; color: orange;font-size:  12px; font-style: italic;} */
.hg-HamBtn{background: white; color: black; font-size:18px; float:right; padding:8px 16px; text-decoration:none; border: none;}
.hg-HamBtn:active{background: white;color: black;}
.hg-BackButton{background: black; color: white; font-size:18px; float:left; padding:8px 16px; text-decoration:none; border: none; height: 100%;}
.hg-BackButton:active{background: white; color: black;}

/*Side Bar*/
.hg-SideBar{background-color: #E6FFFF ; display:none; float:none; margin-left: 0px; margin-left: 0px; outline:0; position:fixed; top: 0; overflow:auto; z-index: 3; width: 250px; top: 0px; bottom: 0; height: inherit; animation: animateleft 0.4s;}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.hg-SideBarItem{font-size:18px; margin-top: 2px; color:teal; text-decoration: none; display:block; padding:8px 16px;}
.hg-SideBarItem:hover{color: white; background-color:black;}
.hg-SideBarItem:active{color: red;}
.hg-SideBarItemSelected{margin-top: 2px; color: white; background: black; text-decoration: none; display:block; padding:8px 16px;}

/*OverLay*/
.hg-OverLay{position:fixed; display:none; width:100%; height:100%; top:0; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.5); cursor:pointer; z-index:2;}

/* Content */
.hg-Content{margin-left:250px; padding-top:44px; padding-bottom:64px!important; transition:margin-left .4s; background-color:/*  yellow; */}
.hg-InfoContent{padding:0.01em 16px; float:left; /* width:100%; */ /* background-color: green; */}
.hg-AddContent{padding:0.01em 16px; /* width:33.33333%; */display: inline-block; /* background-color: red; */}
.hg-AddSmall{border:1px solid #ccc!important; padding:32px 24px!important; text-align:center!important;}
.hg-AddLarge{border:1px solid #ccc!important; padding:64px 24px!important;text-align:center!important}

/* PageTitles */
.hg-h1PageTitle{font-size: 1.5em; margin-bottom: 0.2em; color: teal; /* background-color: #00ffff; */}
.hg-h2PageTitle{font-size: 1.5em; margin-bottom: 0.2em; color: teal; /* background-color: #00ffff; */}
.hg-h3PageSubtitle{font-size: 1.17em; margin-top: 0.10em; color:#009688; /* color: #009688; */ /* background-color: #ddffdd; */
}

/* Sup color */
sup{color: var(--ref-color);}

/* Links color */
a{color: blue; text-decoration: none;}

/* TOC */
.hg-TOC{color: teal; padding: 0;   list-style-position: inside;}

/* Scenarios */
.hg-ULscenarios{list-style: none;  padding: 0;}
.hg-ULscenarios li  {margin-bottom: 16px;}
.hg-ULscenarios li:last-child {margin-bottom: 0px;}

/* ^ HSV ==============================================================================================================  */

  

  
  


  .hg-SideBar h4{
    padding-top: 8px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    /* padding:8px 16px; */
    text-align:left;
    font-weight: bold;
  }

  .hg-SideBar h5{
    margin-top: 2px;
    display:block;
    padding:0px 16px;
    /* width:100%; 
    /* text-align:left; */
  }


  .hg-SideBarItem2{
    margin-top: 2px;
    margin-left: 12px;
    color: blue;
    text-decoration: none;
    display:block;
    padding:8px 16px;
    /* width:100%; 
    /* text-align:left; */
  }
  .hg-SideBarItem2:hover{
    color: white;
    background-color:black;
  }
  .hg-SideBarItem2:active{
    color: red;
  }
.hg-SideBarSubHeader{
  color:black; 
  margin-left: 14px;
  margin-top: 12px; 
  margin-bottom: 8px;
}



  
  /*Main Content--------------------------------------------------------------------------------------------------*/

.hg-h2SectionTitle{
  font-size: 1.17em;
 /*  margin-top: 0.60em; */
  color: Black;
  background-color:white;
}

 


  /* Index Pages---------------------------------------------------------------------------------------- */

  .hg-IndexPageDiv h2{
    font-size: 1.3em;
    display: block;
  }
  .hg-IndexPageDiv a{
   text-decoration: none;
   display: block;
   padding-left: 4px; 
   padding-top: 6px;
   padding-bottom: 6px;
  }
  .hg-IndexPageDiv a:active{
    color: white;
    background: black;
  }

  .hg-MainLink {
    color: blue;
    display: block;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    font-size: 1.0em;
    margin-left: 0px;
    margin-right: 0px;
    font-weight:normal;
    text-decoration: none;
  }
  .hg-MainLink:hover {
    background:black;
    color: white;
  }
  .hg-MainLink:active {
    color: red;
  }
  /*Nav Link----------------------------------------------------------------------------------------------------*/
  .hg-NavLink{
    padding:10px 16px 10px 16px;
    margin: 6px 0px 0px 0px; /*seperates accordians so can see shadow*/
    white-space: normal;  /*lets words wrap in accordian button*/
    text-align:left;
    color :black;
    background:#f0f0f0 ;
    display:block;
    border:none;
    /* width:100%; */
    width:auto;
    font-size: 18px;  
    /* font-size: 1.2em; */
    text-decoration: none;
    cursor:pointer;
    /* height: 50px; */
  }

  .hg-NavLinkSub1{
    /* margin-left: 24px; */
    background:#f0f0f0 ;
    width: 50%;
  }

  .hg-NavLink:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  }
  .hg-NavLinkChevron{
    float:right;  
    font-size: 18px;  
    margin:0px; 
  }
  .hg-NavLinkChevronRt{
    float:right;  
    font-size: 18px;  
    margin:0px; 
    color:black;
  }




    
/*Glossary---------------------------------------------------------------------------------------------------------------*/
  .hg-glossaryAZ {
  font-size: 1.2em;
}

.hg-glossaryAZ button {
    /* font-size: 1.2em; */
    margin-right: 0.4em;
    margin-left: 0.4em;
    margin-bottom: 0.6em;
    /* padding: 0.2em 0.6em 0.2em 0.6em; */
    color: blue;
    /* border: none; */
    border-width: 1px;
    border-style: solid;
    background: #f0f0f0;
    /* background: WHITE; */
    border-radius: 12%;
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 2em;
    height: 2em;
    cursor: pointer;
    text-decoration: none;
}

.hg-glossaryAZ button:hover {
color: white;
background-color: black;
}

.hg-glossaryAZ button:active {
    color: red;
}

.hg-glossaryBody h2 {
    display: inline;
    /* padding-bottom: 0px; */
    /* background: pink; */
    font-size: 1.6em;
}

.hg-glossaryBody a {
    color: blue;
    display: block;
    /* padding-top: 0.35em; */
    /* padding-bottom: 0.35em; */
    font-size: 1.2em;
    /* margin-top: 0.5em; */
    /* margin-bottom: 0.5em; */
    margin-left: 10px;
    margin-right: 0px;
    font-weight: normal;
    text-decoration-line: none;
}

.hg-glossaryBody a:hover {
    background: black;
    color: white;
}

.hg-glossaryBody a:active {
    color: red;
}

.hg-glossaryBody button {
    vertical-align: top;
    margin-left: 30px;
    display: inline;
    font-size: 1.2em;
    /* font-size: 1.6em; */
    /* margin-top: 1em; */
    /* margin-right: 0.6em; */
    /* margin-left: 1.0em; */
    /* margin-top: -20px; */
    /* margin-bottom: 0.6em; */
    color: blue;
    /* text-decoration: underline; */
    border: none;
    /* background: #f0f0f0; */
    background: white;
    /* border-radius: 6%; */
    /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* width: 3em; */
    /* height: 2em; */
    cursor: pointer;
    /* height:30px; */
}

.hg-glossaryBody button:hover {
    /* color:red; */
    color: white;
    background-color: black;
}

.hg-glossaryBody button:active {
    color: red;
}

.hg-pTag {
    height: 0.4em;
}


  
/*Algorithm------------------------------------------------------------------------------------------------------*/
  /*Main div*/
  .hg-algoDivMain{
    /* margin-top: -16px; */
    margin-bottom: 16px;
    /* padding-top: 24px; */
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    display: none;
    /* background: lightblue */
    /* background: lightcyan; */
    /* border-radius: 24px; */
    /* border: 1px solid #ccc; */
    /* position: relative; */
}
/*Straight border div*/
.hg-algoDivStrBorder{
margin-top: 0px;
margin-bottom: 16px;
margin-left: auto ;
margin-right: auto ;
padding-left: 16px;
padding-right: 16px;
border: 1px solid black; 
background: lightpink;
}

/*Rounded border div*/
.hg-algoDivRdBorder{
margin-top: 0px;
margin-bottom: 16px;
margin-left: auto ;
margin-right: auto ;
padding-left: 16px;
padding-right: 16px;
border: 1px solid black;
background: lightcyan;
border-radius: 8px;
}

/*No border div*/
.hg-algoDivNoBorder{
  margin-top: 0px;
  margin-bottom: 24px;
  margin-left: auto ;
  margin-right: auto ;
  padding-left: 16px;
  padding-right: 16px;
  text-align:center;
}

.hg_algoCenterHorizDiv{
display: flex;              /* establish flex container */
flex-direction: column;     /* stack flex items vertically */
/* justify-content: center;    center items vertically, in this case */
align-items: center;        /* center items horizontally, in this case */
/* background-color: pink; */
}

/*h3*/
.hg-algoh3{
text-align:center;
/* margin: 6px; */
font-size: 1.10em;
font-weight: bold;
}
.hg-algoh3 sup{
font-weight: normal;

}

/*Algo status*/
.hg-pAlgoStatus{
/* margin:0px 0px 12px 0px; */
/* background: red; */
color:red;
}

/*Up button*/
.hg-algoBtnUp{
  padding:8px 16px;
  width: 50px;
  background: lightgoldenrodyellow;
  margin-bottom: 16px;
  margin-left: auto ;
  margin-right: auto ;
  font-size: 1.2em;
  border:none;
  cursor:pointer;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/*Down Arrow p*/
.hg-algoParaDn{
  color: black;
  font-size: 1.2em;
}
.hg-algoBtnA{
/* border: 1px solid #ccc; */
padding:8px 16px;
font-size: 1.1em;
margin-bottom: 16px;
display:block;
width:100%;
text-align:center;
margin-left: auto ;
margin-right: auto ;
white-space: normal;  /*lets words wrap in accordian button*/
background: lightgoldenrodyellow;
color:black;
border:none;
border-radius: 8px;
cursor:pointer;
box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/*UL*/
.hg-algoUl{
margin-top: 0px;
margin-left: 12px;
margin-right: 4px;
padding: 0px;
/* background: orange; */
}
.hg-algoUl li ul{
margin-left: 0px; 
padding-left: 16px; 
/* background: plum; */
}

  
 

/*Refresh button*/
  .hg-algoRfBtn{
    /* border: 1px solid #ccc; */
    /* border-radius:50%; */
    /* background: lightgoldenrodyellow; */
    /* background: lightpink; */
    /* background:#f0f0f0; */
    font-size: 0.8em;
    color: red;
    margin-left: 16px;
    margin-bottom: 16px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  }





